# logger ----------------------------------

logger_path:       _logs/
logger_save_files: true
font_file:         _env/fonts/LiberationSans-Regular.ttf

# db access -------------------------------

db_sqlite:
  host:
  port:
  user:
  pass:
  path: _env/db/test.sqlite


# actions with tiles ----------------------

tiles_mapbox_token:
tiles_arcgis_token:
tiles_files_path:
tiles_video_path:

images_files_path:        _images/


# server_http -----------------------------

server_http:
  host: http://localhost
  port: 4001


# processing ------------------------------

manager_path:           _processing/
manager_mock_data_path: _env/mock/
